{
  "trailingComma": "none",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^[./]"
  ]
}
